
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400..700&family=GFS+Didot&display=swap');
:root {
 --alkatra: "Alkatra", sans-serif;

 --bgColor: black;
 --textColor: white;
}


/* style pour la nav*/

nav {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* nav .logo img {
    width: 60px;
    height: 60px;
    object-fit: contain;
} */

nav .search {
    display: flex;
    gap: 10px;
}

#search-btn{
        margin-inline-end: auto;
        width: 180px;
}

/* nav .input,
nav .button {
    padding: 5px 15px;
    font-size: 0,9em;
    outline: none;
    border: 1px solid bisque;
    border-radius: 0,4em;
    color: var(--textColor);
    background-color: var(--bgColor);
} */

nav .search input {
        width: 300px;
        height:40px; 
        border-radius: 10px;
        margin-top:30.5px ;
        background: #fff;
        border: 1px solid #fff;
        border-radius: 30px;
        color: black;
        display: block;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        font-size: 18px;
        padding: 20px;
        /*text-align: center; */
        transition: all 200ms ease;
        margin-inline-start: auto;
             
}

#word-cloud{
    background: -webkit-linear-gradient(#3c98c9, #be4d98);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: block;
    padding-right: 30px ;
    
}
#word-cloud-title{
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: 0.05em;
}

nav .search button {
    cursor: pointer;
}

#result {
    color: black;
    padding: 20px;
}

.info {
    position: relative;
    display: grid;
    grid-template-columns: 6fr, 4fr;
    gap: 2Opx;
    margin-top: 1.2em;
}

.poster {
    border-radius: 36px;
}

h2 {
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: 0.05em;
}

.rating {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6em;
    margin: O.6em 0 0.9em 0;
}
.rating img {
    width: 1.5em;
}
.rating h4 {
    display: inline-block;
    font-size: 1.1em;
    font-weight: 500;
}

.details {
    display: flex;
    font-size: 0.9em;
    justify-content: center;
    color: antiquewhite;
    margin: 0.6em;
    font-weight: 300;
}


#filmsSection,
#filmsDataviz {
    width: calc(50% - 20px); /* Adjust width and margin */
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 20px;
    background-color: #f7f1f4; /* Adjust background color */
    margin-top: 30px;
    border-radius: 25px;

}
h1{
    text-align: center;
}