.quotesBody {
    position: relative;
    z-index: 1;
}

.quotesBody::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(img/image.png);
    opacity: 0.5; /* Adjust the opacity as needed */
    z-index: -1;
}
h1{
    text-align: center;
}

#quotesBody2{
  
    height: 500px;
}
#quotes{
    margin-top: 50px;
}